@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-shark-100: #22272b;
  --color-shark-200: #1d2125;
  --color-shark-300: #161a1d;
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html,
body,
#root {
  @apply flex flex-col h-full font-montserrat dark:bg-shark-300;
}
#root {
  @apply items-center justify-center;
}
